<div class="container">

  <p>Создать блог</p>
  <p>Пользователь может:</p>
  <ol>
    <li>Aвторизироваться / регистрироваться /</li>
    <li>Создать / редактировать / удалять / делать невидимыми(не отображаемыми в списке постов) посты своего блога</li>
    <li>Смотреть список всех постов( как своих так и чужих, только те что видимы)</li>
    <li>Смотреть список своих постов</li>
  </ol>

  <p>Для стилей использовать bootstrap css</p>

</div>
